
  <br><br><br>
  {{# each products}}
<div class="row">
{{# each this}}
 <div class="col-sm-6 col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.imagePath}}" alt="{{this.title}}">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.description}}</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
</div>
  {{/each }}


  

</div>
{{/each}}
